@model dynamic

@{
    ViewBag.Title = "Events";

}

<h2>Events</h2>
<div id="myDiv"></div>
<script type="text/babel">

    var MyCom = React.createClass({
        incrementCount: function(){
            this.setState({count: this.state.count +1 });
        },
        getInitialState: function () {
            return {count: 0}
        },
        render: function () {
            return (
                        <div>
                            <h1>the count is: {this.state.count}</h1>
                            <button class="btn" onClick={this.incrementCount}>Click here</button>
                        </div>
                   );
            }
        });

    ReactDOM.render(<MyCom/>, document.getElementById('myDiv'));

</script>
