

@{
    ViewBag.Title = "ReactJs";
}

<h1>Basic Example</h1>
<div id="myDiv">

</div>
<script>
    ReactDOM.render(React.createElement('h1', null, 'Hello!'),
        document.getElementById('myDiv')
    );
</script>

