@model dynamic

@{
    ViewBag.Title = "STATE";
    
}

<h2>STATE</h2>
<div id="myDiv"></div>
<script type="text/babel">

    var MyCom = React.createClass({
        getInitialState: function () {
          return {
              count: 5
          }  
        },
        render: function () {
            return (<h1>the count is: {this.state.count}</h1>);
        }
    });

    ReactDOM.render(React.createElement(MyCom), document.getElementById('myDiv'));

</script>